@font-face {
    font-family: 'D-DIN';
    src: url('./assets/D-DIN.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'D-DIN';
    src: url('./assets/D-DIN-Bold.otf') format('opentype');
    font-weight: bold;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:'D-DIN', sans-serif;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


body{
    height: 110vh;
    color: white;
}

.mission1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: end;
    height: 81%;
    width: 500px;
    color: white;
    padding: 0 0 82px 40px;
    text-transform: uppercase;
}

.mission1 p{
    font-size: 20px;
}

.mission1 h1{
    text-align: left;
    font-size: 48px;
    padding: 15px 0 20px 0;
}

.mission1 a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.button{
    width: 150px;
    height: 50px;
    border-color:white;
    background-color: transparent;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    width: 100%;
    min-width: 598px;
    background-color: transparent;
}


.logoSpaceX > img{
    width: 210px;
    height: 28px;
}

.navtitles{
    display: flex;
    list-style: none;
    gap: 20px;
}

.navtitles li a {
    color: white;
    text-decoration: none;
    font-family: 'D-Din',sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.mission2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100vh;
    background-image: url(assets/mission2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-left: 40px;
    padding-bottom: 90px;
    text-transform: uppercase;
}

.mission2 p{
    font-size: 20px;
}

.mission2 h1{
    text-align: left;
    font-size: 48px;
    padding: 15px 0 20px 0;
}

.mission2 a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.mission3{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100vh;
    background-image: url(assets/mission3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-left: 40px;
    padding-bottom: 100px;
    text-transform: uppercase;
}

.mission3 p{
    font-size: 20px;
}

.mission3 h1{
    text-align: left;
    font-size: 48px;
    padding: 15px 0 20px 0;
}

.mission3 a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.mission4{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100vh;
    background-image: url(assets/mission4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-left: 40px;
    padding-bottom: 90px;
    text-transform: uppercase;
}

.mission4 p{
    font-size: 20px;
}

.mission4 h1{
    text-align: left;
    font-size: 48px;
    padding: 15px 0 20px 0;
}

.mission4 a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.flight_test{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100vh;
    background-image: url(assets/test1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-left: 40px;
    padding-bottom: 90px;
    text-transform: uppercase;
}

.flight_test p{
    font-size: 20px;
}

.flight_test h1{
    text-align: left;
    font-size: 48px;
    padding: 15px 0 20px 0;
    width: 500px;
}

.flight_test a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.flight_test > button{
    width: 150px;
    height: 50px;
    border-color:white;
    background-color: transparent;
    text-transform: uppercase;
    text-align: center;
}

.human{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100vh;
    background-image: url(assets/human1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-left: 40px;
    padding-bottom: 90px;
    text-transform: uppercase;
}


.human h1{
    text-align: left;
    font-size: 48px;
    padding: 15px 0 20px 0;
    width: 500px;
}

.human a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.multiplanetary{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100vh;
    background-image: url(assets/life1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-left: 40px;
    padding-bottom: 90px;
    text-transform: uppercase;
}


.multiplanetary h1{
    text-align: left;
    font-size: 48px;
    padding: 15px 0 20px 0;
    width: 500px;
}

.multiplanetary a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}


footer{
    display: flex;
    height: 80px;
    background-color: black;
    font-family: 'D-Din', sans-serif;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    min-width: 597px;
}

footer a{
    text-decoration: none;
    font-family: 'D-Din', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
}

.nav{
    background-color: transparent;
    --img1: scale(1);
    --img2: scale(0);
}

.nav:has( .dropdown:target ){
    --img1: scale(0);
    --img2: scale(1);
    --clip:inset(0 0 0 0);
}

.nav_container{
    width: 90%;
    max-width: 430px;
    margin: 0 auto;
    height: 70px;
    

    gap: 30px;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: "title img";
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
}

.nav_container a{
    color: white;
    font-family: 'D-Din', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
}

#shop{
    font-family: 'D-Din', sans-serif;
    font-weight: bold;
}

.nav_menu{
    grid-area: img;
    position: relative;
    z-index: 10;
    transform: var(--img1);
}

.nav_menu--second{
    transform: var(--img2);
}

.nav_icon{
    width: 30px;
    height: 15px;
    display: block;
}
.nav_icon2{
    width: 18px;
    height: 19px;
    display: block;
}

.dropdown{
    position: absolute;
    background-color: #000;
    width: 30%;
    height: 100vh;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1em;

    padding-top: 90px;
    padding-right: 35px;

    gap: 1rem;

    overflow-y: auto;

    clip-path: var(--clip, inset(0 0 0 100%));
    transition: clip-path .5s;
}

.dropdown_list{
    list-style: none;
}

.dropdown_list2{
    display: none;
    font-family: 'D-Din', sans-serif;
    font-weight: normal;
}

.dropdown_span{
    display: flex;
    justify-content: flex-end;
    width: 400px;
    border-bottom: 1px solid #545151e9;
    padding-bottom: 10px;
}

.dropdown_link{
    text-transform: uppercase;
    padding: 5px;
    text-decoration: none;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .6rem;

    position: relative;
    background-color: var(--bg, transparent);
    border-radius: 6px;
}



@media screen and (max-width: 1024px){
    .mission1{
        height: 83%;
        width: 400px;
        padding: 0 0 140px 40px;
    }

    .mission2 h1{
        width: 200px;
    }

    .mission3 h1{
        width: 200px;
    }

    .human h1{
        width: 200px;
    }

    header{
        display: flex;
        flex-wrap: wrap;
    }

    .logoSpaceX > img{
        width: 190px;
        height: 35px;
    }

    .navtitles{
        gap: 10px;
    }

    .dropdown_list2{
        display: none;
    }
}

@media screen and (max-width: 430px){
    
    .mission1{
        padding-top: 1080px;
    }

    .mission2{
        width: 595px;
        padding-top: 1198px;
    }

    .mission3{
        width: 595px;
        padding-top: 1198px;
    }

    .mission4{
        width: 595px;
        padding-top: 1200px;
    }

    .flight_test{
        width: 595px;
        padding-top: 1200px;
    }

    .human{
        width: 595px;
        padding-top: 1198px;
    }

    .multiplanetary{
        width: 595px;
        padding-top: 1198px;
    }
    .navtitles{
        display: none
    }

    .logoSpaceX{
        padding-left: 182px;
        z-index: 1;
    }

    #shop{
        display: none;
    }

    .nav_container {
        width: 95%;
        
    }
    #menu{
        position:absolute;
        width: 400px;
        left: 200px;
        height: 145vh;

    }

    .dropdown_list{
        padding-top: 20px;
        display: none;
        
    }

    .dropdown_list2{
        display: block;
    }

    .dropdown_list2 a{
        font-size: 22px;
        font-family: 'D-Din', sans-serif;
    }

}
    


